*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #16A085;
    font-family: 'Caveat';
}

.screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 50%;
    margin: auto;
    padding: 10px;
    margin-top: 50px;
    background-color: #A3E4D7;
    border-radius: 15px;
}

.screen img {
    width: 150px;
    float: left;
    padding-left: 50px
}

.bio  {
    padding: 30px;
}

.bio p {
    padding-bottom: 10px;
}

.screen span {
    font-family: 'VT323';
    font-size: 40px;
}

.spacer {
    padding: 10px;
}

.container {
    width: 50%;
    margin: auto;
}

.quote {
    text-align: center;
    font-family: 'VT323';
    font-size: 30px;
    color: #ABEBC6;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #0E6655;
}

.row2 {
    display: flex;
}

.col1 {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col1 p {
    text-align: center;
    font-family: 'VT323';
    font-size: 20px;
    padding: 5px;
}

.col1 img {
    width: 350px;
}

.col2 {
    flex: 50%;
}

.button_row1 img{
    width: 140px;
}

.button_row2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#open-dialog {
    border-radius: 100%;
    padding: 75px 55px;
    font-family: 'VT323';
    font-size: 20px;
    background-color: #E74C3C;
}

